header {
  display: flex;
  background-color: gainsboro;
  border: 1px solid black;
}
.SiteName {
  display: flex;
  list-style-type: square;
}
.linknav {
  display: flex;
  list-style-type: none;
}
.cart {
  display: flex;
  list-style-type: none;
}
.first {
  display: flex;
}
.tabel{
    display: ;
}
.Summary {
  background-color: gainsboro;
  padding: 5px;
}
.content {
  display: flex;
}
.footer {
  display: flex;
  list-style-type: none;
}
footer {
  display: flex;
}
